In [1]:
import pandas as pd

## Noise Complaints

Data collected from https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9/data#Filter with the following filter conditions:

* **Complaint type** contains "Noise"
* **Created date** is between Jan 1, 2019 and Jan 1, 2020
* **Borough** is Manhattan

In [1]:
#df = pd.read_csv('raw csvs/noise_complaints_raw.csv')

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (18,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
df.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,41312454,01/01/2019 12:00:29 AM,01/01/2019 02:22:46 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11231.0,135 RICHARDS STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.677201,-74.010351,"(40.677200581770165, -74.01035058400049)"
1,41310350,01/01/2019 12:00:43 AM,01/01/2019 02:21:44 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11365.0,192-20C 67 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.738062,-73.781277,"(40.738061586139345, -73.78127702459108)"
2,41307350,01/01/2019 12:02:13 AM,01/02/2019 02:07:11 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10003.0,106 3 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.732710,-73.987617,"(40.73271049805848, -73.9876165807211)"
3,41313215,01/01/2019 12:03:08 AM,01/01/2019 07:01:51 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11417.0,103-21 106 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.684311,-73.835678,"(40.68431070731603, -73.83567813039491)"
4,41312661,01/01/2019 12:04:26 AM,07/29/2019 12:17:22 PM,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,Residential Building/House,NaN,95 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
cleaned_df = df.loc[:,["Descriptor", "Latitude", "Longitude"]].dropna()
cleaned_df.head()

         Descriptor   Latitude  Longitude
0  Loud Music/Party  40.677201 -74.010351
1  Loud Music/Party  40.738062 -73.781277
2  Loud Music/Party  40.732710 -73.987617
3  Loud Music/Party  40.684311 -73.835678
5  Loud Music/Party  40.644585 -74.003679

In [16]:
#cleaned_df.to_csv('exported csvs/noise_complaints_clean.csv')

## Restaurants

Data collected from https://data.cityofnewyork.us/Health/DOHMH-New-York-City-Restaurant-Inspection-Results/43nn-pn8j/data with the following filter conditions:

* **Boro** is Manhattan

In [23]:
#df_restos = pd.read_csv('raw csvs/restaurants_raw.csv')

In [24]:
df_restos.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,50018350,SONS OF THUNDER,Manhattan,204,EAST 38 STREET,10016.0,6468633312,American,12/18/2019,Violations were cited in the following area(s).,...,04/26/2020,Cycle Inspection / Initial Inspection,40.748122,-73.976029,106.0,4.0,7800.0,1020344.0,1.009180e+09,MN20
1,41648023,TRAVEL TRADERS (MELITA PASTRIES),Manhattan,1535,BROADWAY,10036.0,2125891351,American,04/25/2017,Violations were cited in the following area(s).,...,04/26/2020,Cycle Inspection / Initial Inspection,40.758260,-73.985468,105.0,3.0,11900.0,1024727.0,1.010170e+09,MN17
2,41398154,DONA BELLA PIZZA,Manhattan,154,CHURCH STREET,10007.0,2123741130,Pizza,05/25/2018,Violations were cited in the following area(s).,...,04/26/2020,Cycle Inspection / Initial Inspection,40.714838,-74.008015,101.0,1.0,2100.0,1001591.0,1.001458e+09,MN24
3,40402172,LOMBARDI'S,Manhattan,32,SPRING STREET,10012.0,2129417994,Pizza/Italian,05/22/2017,Violations were cited in the following area(s).,...,04/26/2020,Cycle Inspection / Re-inspection,40.721684,-73.995660,102.0,1.0,4100.0,1007181.0,1.004800e+09,MN24
4,41245735,WICHCRAFT,Manhattan,11,EAST 20 STREET,10003.0,2127800577,Sandwiches,03/26/2019,Violations were cited in the following area(s).,...,04/26/2020,Cycle Inspection / Re-inspection,40.739311,-73.990076,105.0,2.0,5200.0,1016200.0,1.008490e+09,MN13

In [29]:
cleaned_df_restos = df_restos.loc[:,["DBA", "CUISINE DESCRIPTION", "Latitude", "Longitude"]].dropna()
cleaned_df_restos.head()

                                DBA CUISINE DESCRIPTION   Latitude  Longitude
0                   SONS OF THUNDER            American  40.748122 -73.976029
1  TRAVEL TRADERS (MELITA PASTRIES)            American  40.758260 -73.985468
2                 DONA BELLA  PIZZA               Pizza  40.714838 -74.008015
3                        LOMBARDI'S       Pizza/Italian  40.721684 -73.995660
4                         WICHCRAFT          Sandwiches  40.739311 -73.990076

In [30]:
#cleaned_df_restos.to_csv('exported csvs/restaurants_clean.csv')

## Grocery Stores

Data collected from https://data.ny.gov/Economic-Development/Retail-Food-Stores/9a8c-vfzj/data with the following filter conditions:

* **County** is New York

In [143]:
df_food = pd.read_csv('raw csvs/Retail_Food_Stores.csv')

In [144]:
df_food.head()

,County,License Number,Operation Type,Establishment Type,Entity Name,DBA Name,Street Number,Street Name,Address Line 2,Address Line 3,City,State,Zip Code,Square Footage,Location
0,New York,719758,Store,JAC,GOLDEN OWLS BROTHERS INC,,1769,2ND AVE,,,NEW YORK,NY,10128,400,"1769 2ND AVE\nNEW YORK, NY 10128\n(40.781941, ..."
1,New York,731324,Store,JAC,100 PRESTIGE DELI CORP,100 PRESTIGE DELI,100,THAYER STREET,,,NEW YORK,NY,10040,1800,"100 THAYER STREET\nNEW YORK, NY 10040\n(40.864..."
2,New York,732331,Store,JAC,100 ST QUICK 24 HR DELI INC,100 ST QUICK 24HR DELI,219,W 100TH ST 3RD STORE,,,NEW YORK,NY,10025,0,"219 W 100TH ST\nNEW YORK, NY 10025\n(40.797317..."
3,New York,735096,Store,JAC,101 FINEST DELI INC,101 FINEST DELI,101,W 136TH ST,,,NEW YORK,NY,10030,0,"101 W 136TH ST\nNEW YORK, NY 10030\n(40.814809..."
4,New York,628886,Store,JAC,101 LENOX GOURMET DELI CORP,101 LENOX GOURMET DELI,101,LENOX AVE,,,NEW YORK,NY,10026,1500,"101 LENOX AVE\nNEW YORK, NY 10026\n(40.801467,..."

In [145]:
df_food['Location'] = df_food['Location'].apply(lambda x: re.findall(r"\((\d+\.\d+)\,\s*(\-*\d+\.\d+)\)", str(x)))
df_food['loc_count'] = df_food['Location'].apply(lambda x: len(x))
df_food = df_food[df_food['loc_count'] > 0]
df_food['Latitude'] = df_food['Location'].apply(lambda x: (x[0][0]))
df_food['Longitude'] = df_food['Location'].apply(lambda x: (x[0][1]))

                            Entity Name   Latitude   Longitude
0     GOLDEN OWLS BROTHERS INC           40.781941   -73.94878
1     100 PRESTIGE DELI CORP             40.864627  -73.927815
2     100 ST QUICK 24 HR DELI INC        40.797317  -73.970162
3     101 FINEST DELI INC                40.814809  -73.940429
4     101 LENOX GOURMET DELI CORP        40.801467  -73.950175
5     101 NEWSTAND INC                   40.709002  -74.009009
6     101 SMOKE SHOP CORP                40.798014  -73.969202
7     103 MANHATTAN AVE GROCERY CORP     40.796611  -73.962961
8     104 BROADWAY FARMS INC             40.799742  -73.968329
9     105 DELI & GRILL INC                40.79993  -73.966093
10    106 99 CENTS CORP                  40.802291  -73.950314
11    106 CANDY & CONVENIENCE CORP       40.791007   -73.94335
12    106 COLUMBIA DELI CORP             40.800718  -73.965524
13    106 FAMILY DELI & GROCERY INC       40.79017  -73.941363
14    106 FRANKLIN DELI & GROCERY INC    40.789853  -73.940605
15    107 DELI & GRILL INC               40.801268  -73.965114
16    109 SPICY GOURMET DELI INC         40.802237  -73.964391
17    10TH AVE PETROLEUM LLC             40.756122  -73.998042
18    10TH STREET FOOD CORP              40.725992  -73.977803
19    1128 DELI & GRILL INC              40.801996  -73.957141
20    116 DISCOUNT INC                   40.799729  -73.944226
21    116 STREET MARINI DELI GROCERY CO  40.798405  -73.941784
22    116TH STREET FOOD FOR LESS INC     40.799061  -73.942645
23    119 A R GROCERY CORP               40.861392   -73.92916
24    121 CONVENIENCE DELI CORP          40.802476  -73.950752
25    LENOX GOURMET DELI&GRCY CORP       40.805089  -73.947539
26    121 NEW YORK DELI GROCERY CORP     40.802102  -73.939073
27    FERNANDEZ JORGE                    40.719204  -73.985959
28    124 DELI GROCERY INC               40.713896  -73.992096
29    1252 DELI GROCERY CORP             40.843995  -73.937622
...                                 ...        ...         ...
2701  SAEED ALI A                        40.791349  -73.940146
2702  YEM SANALI GROCERY INC             40.769512  -73.988296
2703  Y F T TRADING INC                  40.712278  -73.994757
2704  YI FENG                            40.713638  -73.995197
2705  YIU WING INC                       40.715746  -73.998848
2706  YMJ EXPRESS LLC                    40.712621  -73.990287
2707  YOGI 1672 CORP                      40.77713  -73.946251
2709  JUST NUTS INC                      40.763071  -73.967605
2710  MASK NUTS INTERNATIONAL INC        40.773999  -73.959586
2711  79 GOURMET DELI INC                40.771232  -73.950557
2712  ANGEL DELI OF YORKVILLE LTD        40.771232  -73.950557
2713  YORKK DELI & GROCERY INC           40.776797  -73.946489
2714  YOUNG FISH LJ MARKET INC           40.794278  -73.942701
2715  YOURS WHOLESOME FOOD INC           40.721116   -73.98689
2716  SOLIS VICENTE ANGEL                40.813776   -73.95598
2717  YUE FUNG USA ENTERPRISE INC        40.718176  -73.994929
2718  YUE FUNG USA ENTERPRISE INC        40.717732  -73.996739
2719  YUMMILICIOUS DELI CORP             40.845546  -73.938653
2720  YUMMY FOODS DELI CORP              40.814064  -73.948329
2721  YUNG CITY FISH BALLS CORP          40.715036  -73.993561
2722  50 EAST END AVENUE LLC             40.772082  -73.946834
2723  ZABARS & CO INC                     40.78479  -73.979409
2724  ZAID GOURMET CORP                  40.795784  -73.947919
2725  ZARAGOZA MEXICAN DELI&GROCERY INC   40.72995    -73.9807
2726  NEW YORK FOOD INC I                 40.76151  -73.986682
2727  Z DELI GROCERY CORP                40.761354  -73.986798
2728  MAIDEN FARM INC                    40.708501  -74.008478
2729  ZHENG CAI INC                      40.713645  -73.995126
2730  ZHONGGUO YAOCHAI INC               40.714431  -73.992059
2731  ZINGONE NICK&JOSEPHINE             40.784305  -73.973765

[2628 rows x 3 columns]

In [146]:
df_food_cleaned = df_food.loc[:,["Entity Name", "Latitude", "Longitude"]]
df_food_cleaned.to_csv('exported csvs/grocery_stores.csv')

## Nightlife (Liquor Licenses)

Data collected from https://data.ny.gov/Economic-Development/Liquor-Authority-Daily-List-of-Active-Licenses-API/wg8y-fzsj with the following filter conditions:
* **County** is New York

In [172]:
liquor_licenses = pd.read_csv('raw csvs/liquor_licenses_raw.csv')

In [173]:
ops = list(liquor_licenses['Method of Operation'].value_counts().index.values)
nightlife = [x for x in ops if ("TAVERN" in x) | ("BAR" in x) | ("CLUB" in x)]
liquor_licenses = liquor_licenses[liquor_licenses['Method of Operation'].isin(nightlife)]

In [176]:
liquor_licenses_cleaned = liquor_licenses.loc[:,["Method of Operation", "Premise Name", "Premise Address", "Premise City"]]
liquor_licenses_cleaned.to_csv('exported csvs/nightlife.csv')

## Transportation

Data collected from https://data.cityofnewyork.us/Transportation/Subway-Entrances/drex-xx56 in an already clean format, no further processing needed.
* File path is 'exported csvs/subway_entrances.csv'

## Parks/Recreation/Greenspace/Trees
https://data.cityofnewyork.us/Environment/2015-Street-Tree-Census-Tree-Data/uvpi-gqnh/data (MANHATTAN ONLY)

In [178]:
trees = pd.read_csv('raw csvs/treedata_raw.csv')
trees.head()

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,boro_ct,state,latitude,longitude,x_sp,y_sp,council district,census tract,bin,bbl
0,190422,106099,08/30/2015,11,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,1014500,New York,40.770046,-73.984950,988418.6997,219825.5227,3.0,145.0,1076229.0,1.011310e+09
1,190426,106099,08/30/2015,11,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,1014500,New York,40.770210,-73.985338,988311.1900,219885.2785,3.0,145.0,1076229.0,1.011310e+09
2,208649,103940,09/07/2015,9,0,OnCurb,Alive,Good,Tilia americana,American linden,...,1012700,New York,40.762724,-73.987297,987769.1163,217157.8561,3.0,133.0,1086093.0,1.010410e+09
3,193310,107600,08/31/2015,14,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,1012800,New York,40.772171,-73.960456,995203.0037,220602.1553,4.0,128.0,1043098.0,1.014090e+09
4,199760,107038,09/03/2015,4,0,OnCurb,Alive,Fair,Quercus phellos,willow oak,...,1016300,New York,40.782087,-73.980964,989521.7414,224212.8876,6.0,163.0,1030859.0,1.011680e+09

In [181]:
trees_cleaned = trees.loc[:,["tree_id", "latitude", "longitude"]]
trees_cleaned.to_csv('exported csvs/treedata_cleaned.csv')